<!-- Modal -->
<div
  class="modal fade"
  id="edit-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Bank Data</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/bank?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div class="form-group">
            <input
              type="text"
              class="form-control mb-4 bankName"
              id="name"
              name="bankName"
              placeholder="Enter Bank Name"
              required
            />
            <input
              type="text"
              class="form-control mb-4 accountNumber"
              id="name"
              name="accountNumber"
              placeholder="Enter Account Number"
              required
            />
            <input
              type="text"
              class="form-control name mb-4"
              id="name"
              name="name"
              placeholder="Enter Name"
              required
            />
            <input
              type="file"
              class="form-control mb-4"
              id="name"
              name="image"
              placeholder="Choose Image"
            />
            <span>Choose an image to update</span>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
